body {
    font-family: Arial;
}

#background {
    background-image: url(bg.jpg);
    background-size: cover;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    position: absolute;
    z-index: -1;
}

#my-app {
    width: 100%;
    height: 100%;
    position: absolute;
}

#my-app > div {
    background-color: #f0f0f0;
    opacity:1;
    padding: 4em;
    border-radius: 2em;
    box-shadow: 0.5em 0.3em 0.4em;
    width: 20em;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#my-app > div.loaded {
    width: 35em;
}

*::before, *::after {
    font-weight: normal !important;
}

.attendee .name::before {
    content: "Hi ";
}
.attendee, .event {
    font-weight: bold;
}
.attendee:after {
    content: "!";
}

.event:before {
    content: "You've been invited to: "
}

.event .location:before {
    content: " at "
}
.event .date:before {
    content: " on "
}
.event .time:before {
    content: " at "
}

.course {
    padding: 1em;
}

.course > .name {
    font-weight: bold;
    font-size: 1.2em;
}

.option {
    padding: 1em;
    padding-left: 3em;
    border-radius: 0.5em;
    cursor: pointer;
}

.option:hover {
    background-color: yellowgreen;
}


.option.selected {
    background-color: yellowgreen;
    background-image: url(tick.svg);
    background-position: 0.2em 0.3em;
    background-size: auto 2.5em;
    background-repeat: no-repeat;
}

.option > .description {
    padding-left: 1em;
    font-size: 0.8em;
}

.login .title {
    font-size: 1.2em;
    font-weight: bold;
}
.login .body {
    padding: 0.5em;
}
.login .info {
    font-size: 0.8em;
    padding: 0.5em;
}

button {
    padding: 0.3em;
    margin: 0.3em;
}

input {
    font-family: monospace;
}
